body#body.no-scroll {
	overflow: hidden;
	position: static;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#root .App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.content {
	padding: 0 1rem;
	margin-bottom: 2rem;
}